<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :card_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :card_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <div class="field">
    <%= form.label :attack_value %>
    <%= form.number_field :attack_value, id: :card_attack_value %>
  </div>

  <div class="field">
    <%= form.label :defense_value %>
    <%= form.number_field :defense_value, id: :card_defense_value %>
  </div>

  <div class="field">
    <%= form.label :effect %>
    <%= form.text_area :effect, id: :card_effect %>
  </div>

<% end %>
