<p style="color: green"><%= notice %></p>

<%= render @card %>
<p>
  <strong>Attack Value:</strong>
  <%= @card.attack_value %>
</p>

<p>
  <strong>Defense Value:</strong>
  <%= @card.defense_value %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @card.effect %>
</p>

<div>
  <%= link_to "Edit this card", edit_card_path(@card) %> |
  <%= link_to "Back to cards", cards_path %>

  <%= button_to "Destroy this card", @card, method: :delete %>
</div>
