<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

  <title>MyCardCollection</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
  <div class="container mx-auto px-4">
    <%= yield %>
  </div>
  <nav class="bg-gray-800">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="text-white font-semibold">
            MyCardCollection
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>
</html>
